<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gis2018.udacity.tametu">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="gis2018.udacity.tametu.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tamétû - get more done, faster"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".CountDownTimerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <!-- Broadcast receiver for notification action button -->
        <receiver android:name=".StopTimerActionReceiver" />
        <receiver android:name=".StartTimerActionReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".first">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
